.log {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to right, rgb(0, 201, 255), rgb(146, 254, 157));
    margin: 0;
}

.container {
    background: rgba(255, 255, 255, 0.9);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    width: 400px;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    color: #333; 
}

label {
    display: block;
    margin-bottom: 5px;
    text-align: left;
}

input[type="file"],
input[type="text"],
input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    background: transparent;
    color: rgb(0, 123, 255);
    padding: 10px;
    border: 2px solid #007bff; /* Border to define the button */
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    transition: background 0.3s, color 0.3s; /* Transition for hover effects */
}

button:hover {
    background: rgb(0, 123, 255); 
    color: white; 
}

.logout-button {
    margin-top: 20px;
    background: transparent;
    color: rgb(219, 54, 70); 
    border: 2px solid rgb(220, 56, 72); 
}

.logout-button:hover {
    background: rgb(220, 53, 69); 
    color: white; 
}